.caixa-formulario{
    background-color: rgb(127, 129, 250);
    padding: 60px 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caixa-formulario h2{
    color:  #482585;
    margin-bottom: 25px;
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.campo input{
    padding: 7px;
    border-radius: 4px;
    border: 2px solid #5616c5;
    color: black;
}


.campo label{
    color: #482585;
    margin: 15px 0;
}

.caixa-formulario button{
    margin-top: 20px;
    width: 120px;
    color:white;
    background-color: #482585;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.caixa-formulario button:hover{
    opacity: 0.8;
}
